*,
::after,
::before {
    box-sizing: border-box;
}

body {
    background: #F6F8F9;
    font-size: 14px;
    color: #212529;
    line-height: 1.5;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    padding: 0;
    margin: 0;
}

p {
    margin: 0 0 25px;
    padding: 0;
}

h1 {
    font-size: 32px;
    margin: 0 0 32px;
    font-weight: 500;
}

h2 {
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    margin: 0 0 25px;
}

h3 {
    font-size: 16px;
    font-weight: 600;
    margin: 0 0 20px;
    padding: 0;
    line-height: 24px;
}

h4 {
    font-size: 14px;
    font-weight: 500;
    color: #F8F9FA;
}

h5 {
    font-size: 10px;
    margin-bottom: 10px;
}

.header {
    background: #ffffff;
    position: relative;
    height: 60px;
}

.header__cta {
    position: absolute;
    right: 15px;
    top: 10px;
}

.header__logo {
    width: 120px;
    position: absolute;
    left: 15px;
    top: 18px;
}

.header__nav {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.header__nav a {
    padding: 22px;
    color: #646F79;
    text-decoration: none;
    display: block;
    margin-right: 15px;
}

.header__nav a:first-child {
    padding-left: 0;
}

.header__nav a:hover {
    color: #0AD0F4;
}

.card-goal {
    flex-direction: row;
    align-items: center;
}

.container {
    width: 100%;
    max-width: 1050px;
    padding: 35px 15px;
    margin: 0 auto;
}

.container--header {
    padding-top: 0px;
    padding-bottom: 0px;
}

.bg-light {
    background: linear-gradient(180deg, #FFFFFF 1.21%, #E5ECFF 77.59%);
}

.text-muted {
    color: #86A1AE;
}

.navbar {
    padding: 0 20px;
    background: #FFFFFF;
}

.nav-link {
    padding: 22px;
    color: #646F79;
    margin-right: 22px;
}

.btn {
    background: #25CD71;
    color: #FFFFFF;
    padding: 8px 16px;
    min-width: 100px;
    border: 1px solid transparent;
    font-size: 14px;
    border-radius: 4px;

}

.btn--secondary {
    background-color: #FFFFFF;
    color: #3B4A54;
    border: 1px solid #ECF0F2;
}

.super__logo {
    margin-bottom: 32px;
    text-align: center;
}

.card-wrapper {
    margin-bottom: 32px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background-color: #FFFFFF;
    display: flex;
    width: calc(25% - 20px);
    align-items: center;
    border-radius: 4px;
    padding: 12px;
}

.card--feature {
    padding: 20px 15px;
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
}

.card__title {
    text-align: left;
    flex: 1;
    font-weight: 600;
}

.card__img {
    margin-bottom: 24px;
}

.card__footer {
    background-color: #1B1B1B;
    color: #86A1AE;
}

.card__feature {
    width: 25%;
    display: flex;
    padding: 12px;
}

.footer-link {
    display: flex;
}

.footer {
    background-color: #1B1B1B;
    color: #86A1AE;

}

.footer-link a {
    color: #86A1AE;
    display: block;
    text-decoration: none;
    margin: 0;
    padding: 2px;
}

.footer-link>div {
    width: 25%;
    padding: 12px;
    width: calc(25%-20%);

}

.footer-link a:hover {
    color: #0AD0F4;
}

a.footer-link-icon {
    display: flex;
    gap: 15px;
    align-items: center;
}


.text-center {
    text-align: center;
}

@media only screen and (max-width: 800px) {}

@media only screen and (min-width: 800px) {}